<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    
    <style>
        
        body {
            background: linear-gradient(to right, #00bcd4, #1e88e5); /* Gradient background */
            display: flex;
            justify-content: center;
            height: 100vh;
            margin: 0;
            align-items: center;
            overflow: hidden; /* Hide overflow to prevent scrolling */
        }
        
        .container {
            max-width: 800px;
            margin: 50px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        }
        
        h1 {
            text-align: center;
            color: #333;
        }
        
        p {
            line-height: 1.6;
            color: #555;
        }
        
        .team-member {
            margin-top: 30px;
            display: flex;
            align-items: center;
        }
        
        .team-member img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            margin-right: 20px;
            object-fit: cover;
        }
        
        .team-member-info {
            flex: 1;
        }
        
        .team-member-name {
            font-size: 1.2em;
            color: #333;
        }
        
        .team-member-role {
            color: #777;
        }
        
        @media (max-width: 768px) {
            .container {
                padding: 10px;
            }
        
            .team-member {
                flex-direction: column;
                align-items: center;
            }
        
            .team-member img {
                margin-right: 0;
                margin-bottom: 10px;
            }
        }
    </style>

</head>
<body>
<div class="container">
    <h1>About Us</h1>
    <p>The Seat booking web application started as a project within the MHP Web-Hackathon. The web development team known as WeBros is the one responsible for the development of this application</p>
    <div class="team-member">
        <div class="team-member-info">
            <div class="team-member-name">Stefan Hedesiu</div>
            <div class="team-member-role">Team Leader, Project Manager, Scrum Master and Designer</div>
        </div>
    </div>
    <div class="team-member">
        <div class="team-member-info">
            <div class="team-member-name">Darius Cruceru</div>
            <div class="team-member-role">Backend Developer</div>
        </div>
    </div>

    <div class="team-member">
        <div class="team-member-info">
            <div class="team-member-name">Alexandru Gorgan</div>
            <div class="team-member-role">ML Engineer</div>
        </div>
    </div>

    <div class="team-member">
        <div class="team-member-info">
            <div class="team-member-name">Robert Eminovici</div>
            <div class="team-member-role">Fullstack Developer</div>
        </div>
    </div>
</div>
</body>
</html>
