<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seat Booking Homepage</title>

    <style>


    </style>
    <link rel="stylesheet" href="style.css">



</head>
<body>

    <div id = "intro">
    <h1>Seat Booking</h1>
        <h2>The place to book your space for creativity</h2>
    </div>


    <a id="map-button" href="map.ejs">Map</a> 
    <a id= "login-button" href="login.ejs"> Logout </a>
    <a id= "about-us" href="aboutus.ejs">About Us</a>


</body>
</html>
